{% assign excludeTags = "view-size-chart||display-countdown||display-limited||custom-tabs||upsell-enable" | split: '||' %}

{% if settings.products_per_row == "2" %}
	{% assign product_list_class_desk = "collection-page__product--two" %}
{% elsif settings.products_per_row == "3" %}
	{% assign product_list_class_desk = "collection-page__product--three" %}
{% elsif settings.products_per_row == "4" %}
	{% assign product_list_class_desk = "collection-page__product--four" %}
{% endif %}

{% assign available_filters = false %}

{% if settings.enable-filters %}
	{% if settings.sort-dropdown-a-check or
		settings.sort-dropdown-b-check or
		settings.sort-dropdown-c-check %}
		{% assign available_filters = true %}
	{% endif %}
{% endif %}

{% paginate collection.products by settings.collections_pagination_items %}
	<div class="container-fluid collection-page">
		<div class="row">
			<div class="container">
				{% if settings.collection_breadcrumb %}
					<div class="collection-page__mobile-breadcrumbs">
						{% include 'breadcrumb' %}
					</div>
				{% endif %}

				<div class="collection-page__header{% unless settings.collection_breadcrumb %} collection-page__header--space{% endunless %}">
					{% if settings.collection_breadcrumb %}
						{% include 'breadcrumb' %}
					{% endif %}

					<div class="collection-page__viewing">
						<div class="collection-page__showing">
							<span>
								{{ 'collections.sorting.showing' | t }} {{paginate.current_offset | plus:1}}-{%- if paginate.next -%}{{paginate.current_offset | plus:paginate.page_size}}{%- else -%}{{paginate.items}}{%- endif -%}{{' '}} {{ 'collections.sorting.of' | t }} {{' '}}{{paginate.items}} {{ 'collections.sorting.results' | t }}
							</span>

							{% comment %}<button type="button"
									title="{{ 'collections.general.grid_view' | t }}"
									class="collection-page__showing-button{% unless template contains 'list' %} collection-page__showing-button--active{% endunless %} js-collection-view"
									data-view="grid">
								<i class="fa fa-th" aria-hidden="true"></i>
							</button>

							<button type="button"
									title="{{ 'collections.general.list_view' | t }}"
									class="collection-page__showing-button{% if template contains 'list' %} collection-page__showing-button--active{% endif %} js-collection-view"
									data-view="list">
								<i class="fa fa-list" aria-hidden="true"></i>
							</button>{% endcomment %}
						</div>

						{% if settings.collection_sort %}
							<div class="collection-page__sort">
								<select name="SortBy" id="SortBy">
									<option value="manual">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.featured' | t }}</option>
									<option value="best-selling">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.best_selling' | t }}</option>
									<option value="title-ascending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.az' | t }}</option>
									<option value="title-descending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.za' | t }}</option>
									<option value="price-ascending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.price_ascending' | t }}</option>
									<option value="price-descending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.price_descending' | t }}</option>
									<option value="created-descending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.date_descending' | t }}</option>
									<option value="created-ascending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.date_ascending' | t }}</option>
								</select>
							</div>
						{% endif %}

						{% if settings.collection_tags %}
							<div class="collection-page__browse">
								<label for="CollectionTags">
									{{ 'collections.sorting.browse' | t }}:
								</label>

								<select name="CollectionTags" id="CollectionTags">
									{% for tag in collection.all_tags %}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
										{% if forloop.first %}
											<option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">
												{{ 'collections.sorting.all_items' | t }}
											</option>
										{% endif %}

										{% unless excludeTags contains tag %}
											{% unless tag contains "estimateend-" or tag contains "estimatestart-"  or tag contains "quantity-" or tag contains "quantitysold-" or tag contains "limited-default-" or tag contains "expire-" or tag contains "checklist-" or tag contains "personalisation-" or tag contains "personalization-" or tag contains "sizechart-" or tag contains "badge-" or tag contains "badgestyle-" or tag contains "displayquantity-" or tag contains "surfing_cross-" or tag contains "rr_track_"  %}
												<option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag | capitalize }}</option>
											{% endunless %}
										{% endunless %}
									{% endfor %}
								</select>
							</div>
						{% endif %}
					</div>
				</div>

				{%- capture active_tags -%}
					{% for tag in collection.all_tags %}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
						{% if current_tags contains tag %}
							<div class="collection-page__tag">
								{{ tag   | prepend :'<span class="fas fa-times"></span>' | link_to_remove_tag: tag | replace: 'title=', 'selected   title=' }}
							</div>
						{% endif %}
					{% endfor %}
				{%- endcapture -%}

				{% if active_tags != blank %}
					<div class="collection-page__tags">
						<div class="collection-page__tag-label">Filter by:</div>

						{{- active_tags -}}

						<div class="collection-page__tag collection-page__tag--remove{{ forloop.first }}">
							<a href="{{ collection.url }}" title="Remove all">
								<span class="fas fa-times"></span> Remove All
							</a>
						</div>
					</div>
				{% endif %}

				{% if available_filters or settings.collection_sort %}
					<div class="collection-page__header collection-page__header--mobile">
						<div class="collection-page__mobile-sort-filter-wrapper">
							{% if available_filters %}
								<div class="collection-page__mobile-sort js-sort">
									<div class="collection-page__mobile-sort-toggle js-sort-toggle">
										Filter
									</div>

									<div class="collection-page__mobile-sort-content js-sort-content">
										{% include 'collection-filters-new' %}
									</div>
								</div>
							{% endif %}

							{% if settings.collection_sort %}
								<div class="collection-page__mobile-sort js-sort">
									<div class="collection-page__mobile-sort-toggle js-sort-toggle">
										Sort by
									</div>

									<ul class="collection-page__mobile-sort-content js-sort-content">
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="manual">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.featured' | t }}</li>
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="best-selling">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.best_selling' | t }}</li>
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="title-ascending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.az' | t }}</li>
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="title-descending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.za' | t }}</li>
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="price-ascending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.price_ascending' | t }}</li>
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="price-descending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.price_descending' | t }}</li>
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="created-descending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.date_descending' | t }}</li>
										<li class="collection-page__mobile-sort-item js-sort-by" data-value="created-ascending">{{ 'collections.sorting.title' | t }} {{ 'collections.sorting.date_ascending' | t }}</li>
									</ul>
								</div>
							{% endif %}
						</div>

						<div class="collection-page__header-overlay js-sort-overlay"></div>
					</div>
				{% endif %}

				<div class="collection-page__wrapper{% unless settings.showtitle %} collection-page__wrapper--top-space{% endunless %}">
					{% if available_filters %}
						<div class="collection-page__filter-row">
							{% include 'collection-filters-new' %}
						</div>
					{% endif %}

					<div class="collection-page__products-row{% unless available_filters %} collection-page__products-row--full-width{% endunless %}">
						{% if settings.showtitle %}
							<h2 class="collection-page__title">
								{{ collection.title }}
							</h2>
						{% endif %}

						{% if collection.description != blank %}
							<div class="rte rte--header">
								{{ collection.description }}
							</div>
						{% endif %}

						<div class="collection-page__products-row-wrapper">
							{% for product in collection.products %}
{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
								<div class="collection-page__product {{ product_list_class_desk }}{% if settings.mobile_products_per_row == '2' %} collection-page__product--mobile-two{% endif %}">
									{% include "product-grid-item-new" %}
								</div>
							{% endfor %}
						</div>

						<div class="pagination">
							{{ paginate | default_pagination | replace: '&laquo; Previous', '<i class="fa fa-angle-left"></i>' | replace: 'Next &raquo;', '<i class="fa fa-angle-right"></i>' }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endpaginate %}