<div class="collection-filters">
	{% if settings.sort-dropdown-a-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_a,
			filter_heading: settings.filter1heading,
  			is_color: settings.filter_a_color
		%}
	{% endif %}

	{% if settings.sort-dropdown-b-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_b,
			filter_heading: settings.filter2heading,
  			is_color: settings.filter_b_color
		%}
	{% endif %}

	{% if settings.sort-dropdown-c-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_c,
			filter_heading: settings.filter3heading,
  			is_color: settings.filter_c_color
		%}
	{% endif %}
  
  	{% if settings.sort-dropdown-d-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_d,
			filter_heading: settings.filter4heading,
  			is_color: settings.filter_d_color
		%}
	{% endif %}
  
  	{% if settings.sort-dropdown-e-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_e,
			filter_heading: settings.filter5heading,
  			is_color: settings.filter_e_color
		%}
	{% endif %}
  
  	{% if settings.sort-dropdown-f-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_f,
			filter_heading: settings.filter6heading,
  			is_color: settings.filter_f_color
		%}
	{% endif %}
  
  	{% if settings.sort-dropdown-g-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_g,
			filter_heading: settings.filter7heading,
  			is_color: settings.filter_g_color
		%}
	{% endif %}
  
  	{% if settings.sort-dropdown-h-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_h,
			filter_heading: settings.filter8heading,
  			is_color: settings.filter_h_color
		%}
	{% endif %}
  
  	{% if settings.sort-dropdown-i-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_i,
			filter_heading: settings.filter9heading,
  			is_color: settings.filter_i_color
		%}
	{% endif %}
  
  	{% if settings.sort-dropdown-j-check %}
		{% include 'collection-filters-item'
			sort: settings.sort_j,
			filter_heading: settings.filter10heading,
  			is_color: settings.filter_j_color
		%}
	{% endif %}
</div>