<!doctype html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com" crossorigin>
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C6BHWHVTM9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-C6BHWHVTM9');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 10796232600 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10796232600"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-10796232600');
    </script>

    {% if settings.marketing_convert != "" %}{{ settings.marketing_convert }}{% endif %}
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if settings.favicon_enable %}
      {% if settings.favicon_png == blank %}
        <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png"/>
      {% else %}
        <link rel="shortcut icon" href="{{ settings.favicon_png | img_url: '16x16' }}" type="image/png"/>
      {% endif %}
    {% endif %}
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% if settings.preloader_is_show == true %}
      <style type="text/css">
        html {padding-bottom: 36 !important;}
        .go-top {bottom: 6.5em !important;}
        .preloader { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999999; overflow: hidden; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: #fff; transition: visibility 0.3s, opacity 0.3s;}
        .preloader.preloader--hide { visibility: hidden; opacity: 0; }
        .preloader__item { width: {{ settings.preloader_image_width }}px; height: {{ settings.preloader_image_width }}px; animation-name: spin; animation-duration: 1s; animation-timing-function: cubic-bezier(0.5, 0.1, 0.4, 0.9); animation-iteration-count: infinite; }
        @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
      </style>
      <script>
        window.addEventListener("DOMContentLoaded", function () {
          if(document.querySelector(".preloader") !== null) {
            document.querySelector(".preloader").classList.add("preloader--hide");
          }
        });
      </script>
    {% endif %}
    
    {% capture myShopThemeData %}
      {% include 'store-translations' %}
    {% endcapture %}
    <script>
      if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('X11') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x47\x54\x6D\x65\x74\x72\x69\x78') == -1) {   document.write({{ myShopThemeData | json }}); } document.close();  
    </script>
	{% include 'social-meta-tags' %}
	<link rel="canonical" href="{{ canonical_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="theme-color" content="{{ settings.color_primary }}">
	<meta name="author" content="{{ shop.name }}">
	<meta name="HandheldFriendly" content="True"/>
	<meta name="MobileOptimized" content="320"/>
	{% capture myShopThemeData %}
      {% if settings.default_font_family != "" %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family={{ settings.default_font_family }}:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      {% endif %}
	{% endcapture %}
    <script>
      if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('X11') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x47\x54\x6D\x65\x74\x72\x69\x78') == -1) {   document.write({{ myShopThemeData | json }}); } document.close();  
    </script>
	{% include 'css-variables' %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ 'flag-icons.scss.css' | asset_url }}">
    <style>
      .modal-new {
        visibility: hidden;
        opacity: 0;
      }
    </style>
    <link rel="stylesheet" type="text/css" media="all" href="{{ 'main.build.min.css' | asset_url }}">
    {% if template contains 'cart' or template contains 'page' or template contains 'customer' or template contains 'search' or template contains '404' %}
      {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
      {{ 'vendors.min.css' | asset_url | stylesheet_tag }}
    {% endif %}
	{% capture myShopThemeData %}
	  {{ content_for_header }}
{%- render 'bold-options-hybrid' -%}
{%- render 'bold-common' -%}
{% if template == 'product' and product.metafields.inventory.ShappifyHidden or product.type contains '_HIDDEN_' %}<meta name='robots' content='noindex'>{% endif %}
	  {% include 'oldIE-js' %}
	  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {% if template contains 'customers' %}
        {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
      {% endif %}
      {% assign marketing_services = 'marketing_googleadwords,marketing_googlewebmaster,marketing_fbpixel,marketing_feedburner,marketing_bingwebmaster,marketing_hotjar,marketing_googletagmanager' | split: ',' %}
      {% for marketing_service in marketing_services %}
          {% if settings[marketing_service] != blank %}
              {{- settings[marketing_service] -}}
          {% endif %}
      {% endfor %}
      {% if settings.code_placement_option_for_additionalone == "top" %}
          {% if settings.marketing_additionalone != "" %}{{ settings.marketing_additionalone }}{% endif %}
      {% endif %}
      {% if settings.code_placement_option_for_additionaltwo == "top" %}
          {% if settings.marketing_additionaltwo != "" %}{{ settings.marketing_additionaltwo }}{% endif %}
      {% endif %}
      {% if settings.code_placement_option_for_additionalthree == "top" %}
          {% if settings.marketing_additionalthree != "" %}{{ settings.marketing_additionalthree }}{% endif %}
      {% endif %}
      {% if settings.code_placement_option_for_additionalfour == "top" %}
          {% if settings.marketing_additionalfour != "" %}{{ settings.marketing_additionalfour }}{% endif %}
      {% endif %}
      {% if template contains 'cart' or template contains 'page' %}
        {{ 'underscore-min.js' | asset_url | script_tag }}
        {{ '/services/javascripts/countries.js' | script_tag }}
        {{ 'jquery.cart.min.js' | asset_url | script_tag }}
        {{ 'mobile-detect.min.js' | asset_url | script_tag }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
        {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
      {% endif %}
	{% endcapture %}
    <script>
      if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('X11') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x47\x54\x6D\x65\x74\x72\x69\x78') == -1) {   document.write({{ myShopThemeData | json }}); } document.close();  
    </script>
    <script>
      var isshoptimized = 1;
      window.slate = window.slate || {};
      if ((typeof window) === 'undefined') {
        window = {};
      }
      window.money_format = {{ shop.money_format | json }};
      window.money_default = {{ shop.currency | json }};
      window.template = {{ template | json }};
      window.product_key = '{{ settings.product_key }}';
      window.domain = {{ shop.permanent_domain | json }};
      {% if template contains 'cart' or template contains 'page' or template contains 'customer' or template contains 'search' or template contains '404' %}
        window.path = {
          timberjspath: '{{ 'timber.js' | asset_url }}'
        };
      {% endif %}
      window.shop = {
        permanent_domain: {{ shop.permanent_domain | json }}
      };
      window.strings = {
        product: {
          price_save_two: '{{ 'products.product.save' | t }} {value}%'
        }
      };
    </script>

	{% if settings.productreview == 'loox' %}
      {{ shop.metafields.loox["global_html_head"] }}
	{% endif %}
	{% capture myShopThemeData %}
      {%- if shop.metafields.shoptimized -%}
          {% if template contains 'cart' or template contains 'page' or template contains 'customer' or template contains 'search' or template contains '404' %}
            <script src="{{ 'pusher.min.js' | asset_url }}" defer></script>
          {% endif %}
          <script>
              window.StatsApp = {
                  url: {{ shop.metafields.shoptimized.appurl | prepend: 'https://' | json }},
                  pusher: {{ shop.metafields.shoptimized.pusher | json }},
                  data: {
                      shop: {{ shop.permanent_domain | json }},
                      domain: {{ request.host | json }},
                      iid: {{ shop.metafields.shoptimized.iid | json }}
                  },
                  visitors: {
                      settings: {
                          session_duration: {{ shop.metafields.shoptimized-vizitors.session_duration | abs | json }},
                          statistics_type: {{ shop.metafields.shoptimized-vizitors.statistics_type | json }}
                      },
                      data: {
                          page_handle: {% if shop.metafields.shoptimized-vizitors.statistics_type == 'product' and template contains 'product' %}"/products/{{ product.handle }}"
                          {% else %}'0'{% endif %}
                      }
                  },
                  orders: {
                      settings: {
                          statistics_type: {{ settings.orders_counter_statistics_type | json }}
                      },
                      data: {
                          {% if settings.orders_counter_statistics_type == 'product' and template contains 'product' %}product_id: {{ product.id }},{% endif %}
                          period: {{ settings.orders_counter_period | abs }}
                      }
                  },
                  addedtocart: {
                      settings: {
                          statistics_type: {{ settings.addedtocart_counter_statistics_type | json }}
                      },
                      data: {
                          {% if settings.addedtocart_counter_statistics_type == 'product' and template contains 'product' %}product_id: {{ product.id }},{% endif %}
                          period: {{ settings.addedtocart_counter_period | abs }}
                      }
                  },
                  percent: {
                      data: {
                          {% if template contains 'product' %}product_id: {{ product.id | abs }}{% endif %}
                      }
                  }
              };
          </script>
      {% endif %}
      <script>
        window.product_values = {
          handle: {{ product.handle | json }},
          id: {{ product.id | abs }}
        };
      </script>
      <script src="{{ 'vendor.build.min.js'| asset_url }}" defer></script>
      <script src="{{ 'main.build.min.js'| asset_url }}" defer></script>
      {% if template contains 'cart' or template contains 'page' or template contains 'customer' or template contains 'search' or template contains '404' %}
        {{ 'jquery.min.js' | asset_url | script_tag }}
        {{ 'slate.js' | asset_url | script_tag }}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" defer></script>
        <script src="{{ 'app.js' | asset_url }}" defer></script>
        <script src="{{ 'timber.js' | asset_url }}" defer></script>
      {% endif %}
  	{% endcapture %}
    <script>
      if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('X11') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x47\x54\x6D\x65\x74\x72\x69\x78') == -1) {   document.write({{ myShopThemeData | json }}); } document.close();  
      function addClass() {
        var body = document.body;
        body.classList.add("visible");
      }
    </script>

{{ 'bold.css' | asset_url | stylesheet_tag }}

</head>

<body onload="addClass()" id="{% if page_title == 'countdown' %}countdowna{% else %}{{ page_title | handle }}{% endif %}" style="visibility: hidden;" class="bclas{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  {% if settings.preloader_is_show and settings.preloader_image != blank %}
    <div class="preloader">
      <img src="{{ settings.preloader_image | img_url: "300x" }}" class="preloader__item" alt="Preloader">
    </div>
  {% endif %}
  <div id="top"></div>
  <div class="animsitionn"></div>
  <div id="code_div"></div>
  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <i class="fa fa-times"></i>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  {% include 'cart-drawer-new' %}

  <div id="PageContainer" class="is-moved-by-drawer">
    {% section 'header-new' %}
    <main class="main-content{% if settings.enable_sticky_headerr == 'three' %} main-content--no-margin-desktop{% endif %}{% if settings.enable_sticky_headerr == 'four' %} main-content--no-margin{% endif %}" role="main">
      {{ content_for_layout }}
    </main>
    {% capture myShopThemeData %}
      {% section 'homepage-video' %}
      <!-- begin site-footer -->
      {% section 'pre-footer-new' %}
      {% include 'footer-new' %}
      {% include 'footbar-new' %}
    {% endcapture %}
    <script>
      if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('X11') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x47\x54\x6D\x65\x74\x72\x69\x78') == -1) {   document.write({{ myShopThemeData | json }}); } document.close();  
    </script>
  </div>
  <!-- //site-footer -->
  {% include 'ajax-cart-template' %}
  {% include 'theme-modals' %}
  {% capture myShopThemeData %}
    {% include 'currencies' %}
    {% include 'quick-view-modal' %}
    {% include 'cross-sell-popup' %}
    {% include 'upsell' %}
    {% include "product-sizing-chart-modal" %}
    {% if settings.enable_exitpopup %}
      {% include 'new-exit-popup' %}
    {% endif %}
    {% if settings.enable_entrytpopup %}
      {% include 'new-entry-popup' %}
    {% endif %}
    {% if settings.enablebacktotop %}
      {% include "back-to-top" %}
    {% endif %}
  {% endcapture %}
  <script>
    if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('X11') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x47\x54\x6D\x65\x74\x72\x69\x78') == -1) {   document.write({{ myShopThemeData | json }}); } document.close();  
  </script>
  {% if settings.productreview == 'loox' %}
    {{ shop.metafields.loox["global_html_body"] }}
  {% endif %}
  {% capture myShopThemeData %}
    {% if settings.enable_header_fb_page and settings.header_fb_page_url != blank %}
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12" nonce="Y2Q8wzC3"></script>
    {% endif %}
    {% if template contains 'page' %}
      {% if settings.enable_wishlist %}
        <script src="{{ 'Wishlist.js' | asset_url }}" defer></script>
        <script>
          window.addEventListener("load", function () {
            Wishlist.init();
          });
        </script>
      {% endif %}
    {% endif %}
  {% endcapture %}
  <script>
    if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('X11') == -1 && window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x47\x54\x6D\x65\x74\x72\x69\x78') == -1) {   document.write({{ myShopThemeData | json }}); } document.close();  
  </script>
</body>
</html>
