{%- assign title = section.settings.title -%}
{%- assign collection = section.settings.collection -%}
{%- assign use_tag = section.settings.use_tag -%}
{%- assign grid = section.settings.grid -%}

{%- if collection != blank -%}
	<div class="collection-products">
		<div class="container">
			{%- if title != blank -%}
				{%- case use_tag -%}
				{%- when 'h1' -%}
					<h1 class="section_title">
						{{- title -}}
					</h1>
				{%- when 'h2' -%}
					<h2 class="section_title">
						{{- title -}}
					</h2>
				{%- when 'h3' -%}
					<h3 class="section_title">
						{{- title -}}
					</h3>
				{%- when 'h4' -%}
					<h4 class="section_title">
						{{- title -}}
					</h4>
				{%- when 'h5' -%}
					<h5 class="section_title">
						{{- title -}}
					</h5>
				{%- when 'h6' -%}
					<h6 class="section_title">
						{{- title -}}
					</h6>
				{%- endcase -%}
			{%- endif -%}

			<div class="collection-products__slider-wrapper">
				<div class="collection-products__slider js-collection-products">
					{%- for product in collections[collection].products limit:grid -%}
{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
						<div class="collection-products__product">
							{%- include "product-grid-item-new" -%}
						</div>
					{%- endfor -%}
				</div>

				<div class="collection-products__slider-arrow collection-products__slider-arrow--prev js-collection-products-prev">
					<i class='shoptimized-064'></i>
				</div>

				<div class="collection-products__slider-arrow collection-products__slider-arrow--next js-collection-products-next">
					<i class='shoptimized-074'></i>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="collection-products">
		<div class="container">
			{%- if title != blank -%}
				{%- case use_tag -%}
				{%- when 'h1' -%}
					<h1 class="section_title">
						{{- title -}}
					</h1>
				{%- when 'h2' -%}
					<h2 class="section_title">
						{{- title -}}
					</h2>
				{%- when 'h3' -%}
					<h3 class="section_title">
						{{- title -}}
					</h3>
				{%- when 'h4' -%}
					<h4 class="section_title">
						{{- title -}}
					</h4>
				{%- when 'h5' -%}
					<h5 class="section_title">
						{{- title -}}
					</h5>
				{%- when 'h6' -%}
					<h6 class="section_title">
						{{- title -}}
					</h6>
				{%- endcase -%}
			{%- endif -%}

			<div class="collection-products__slider-wrapper">
				<div class="collection-products__slider js-collection-products">
					{% for i in (1..grid) %}
						<div class="product-grid-item">
							<div class="product-grid-item__inner">
								<div class="product-grid-item__media">
									<a href="#">
										{{ 'product-1'  | placeholder_svg_tag: 'placeholder-svg' }}
									</a>
								</div>

								<div class="product-grid-item__info">
									<a href="#" class="product-grid-item__product-name">
										Never Underestimate An Old Dude With a Surfboard Hoodie
									</a>

									<div class="product-grid-item__price">
										<span>
											$14.00
										</span>
									</div>

									<div class="star-rating">
										<span class="fa fa-star rating"></span>
										<span class="fa fa-star rating"></span>
										<span class="fa fa-star rating"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="rating-review">( 3 reviews )</span>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="collection-products__slider-arrow collection-products__slider-arrow--prev js-collection-products-prev">
					<i class='shoptimized-064'></i>
				</div>

				<div class="collection-products__slider-arrow collection-products__slider-arrow--next js-collection-products-next">
					<i class='shoptimized-074'></i>
				</div>
			</div>
		</div>
	</div>
{%- endif -%}

{% schema %}
{
	"name": "Product Rows on Homepage",
	"class": "index-section cole",
	"settings": [
		{
			"type": "paragraph",
			"content": "This section displays a row of products from a collection."
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Featured collection"
		},
		{
			"type": "select",
			"id": "use_tag",
			"label": "Select Heading tag for title",
			"default": "h1",
			"options": [
				{
					"value": "h1",
					"label": "h1"
				},
				{
					"value": "h2",
					"label": "h2"
				},
				{
					"value": "h3",
					"label": "h3"
				},
				{
					"value": "h4",
					"label": "h4"
				},
				{
					"value": "h5",
					"label": "h5"
				},
				{
					"value": "h6",
					"label": "h6"
				}
			]
		},
		{
			"id": "collection",
			"type": "collection",
			"label": "Collection"
		},
		{
			"type": "range",
			"id": "grid",
			"label": "Products to Show",
			"min": 1,
			"max": 40,
			"step": 1,
			"default": 3
		}
	],
	"presets": [
		{
			"name": "Product Rows on Homepage",
			"category": "Collection"
		}
	]
}
{% endschema %}
