/* BOLD.CSS
 To include this file in your theme, add the following before the closing </head> tag in theme.liquid
 {{ 'bold.css' | asset_url | stylesheet_tag }}
*/

span.bold_option_element {
    display: block;
    padding-top: 6px;
}