<div class="container-fluid header-space">
  <div class="row">
    <div class="container">


    </div>
  </div>
</div>

<div class="container collection_page">

  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" class="homepage-link"
      title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

    <span>/</span>
    <span class="page-title">{{ page.title }}</span>

  </nav>

  {% comment %} {% unless settings.collections_products %}
  <div class="section-header">
    <p class="h1 section-header__left">{{ 'collections.general.title' | t }}</p>
  </div>
  {% endunless %} {% endcomment %}

  {% assign items = page.content | split: ',' %}
  {% for item in items %}

  {% unless collection.handle == 'frontpage' %}
  {% capture collection_title %}{{ item }}{% endcapture %}
  <div class="section-header">
    {% capture item_handle %}{{ item | handleize }}{% endcapture %}
    <p class="h1 section-header__left"> <a href="/collections/{{item_handle}}"
        title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection_title }}</a></p>


    <div class="section-header__right">
      <a href="/collections/{{item_handle}}"
        title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ 'collections.general.more' | t }} {{ collection_title }}
        &rsaquo;</a>
    </div>
  </div>

  <div class="category_wrap cearfix">
    <div class="grid-uniform">
      {% if settings.show_in_carousel %}
      <div class="category_wrap homaa">
        {% endif %}
        {% for product in collections[item_handle].products limit:settings.collectionlistingcount %}
{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
        {% unless settings.show_in_carousel %}
        {% assign product_list_class = 'large--one-fifth medium--one-half' %}
        {% endunless%}

        {% include 'product-grid-item' %}
        {% endfor %}
        {% if settings.show_in_carousel %}
      </div>
      {% endif %}
    </div>
  </div>
  {% unless forloop.last %} {% endunless %}
  {% endunless %}




  {% endfor %}
</div>
